
body {
  height: 100%;
  width: 100%;
  background: url('../images/bgimg.png') no-repeat  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  opacity:0.9;
   background-color:#000000;
   position:fixed;
   width:100%;
   height:100%;
   top:0;
   left:0;
   z-index:1000;
   text-align:center;
   font-family: 'Helvetica', sans-serif;
}
.center-text {
  color: #FFFFFF;
}
.linkBlue {
  color: #2172df;
}
.logo-image{
  margin-top: 20vh;
  
}
a {
  text-decoration: none; 
}

.colour-text {
  color: #FFFFFF;
}


